* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  
}


#box{
  height: 200px;
  width: 100%;
  background-color: rgb(9, 47, 59);
  
h1{
  color: white;
  height: 20px;
  font-weight: 800;
 text-align: center;
 padding-top: 50px;
}
h2{
  color: white;
  height: 10px;
  font-weight: 400;
  text-align: center;
  padding-top: 60px;
   font-style:  italic;
   font-size: 20px;
}
}


#aboutme{
  height: 170px;
  width:90%;
  background-color: rgb(247, 237, 237);
  margin-top: 25px;
  margin-left: 80px;
  
  h1{
    text-align: center;
    padding-top: 20px;
  }
  p{
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 200;
  }
}

#education{
background-color: rgb(159, 208, 228);
  height: 190px;
  width:90%;
  margin-top: 25px;
  margin-left: 80px;
  margin-right: 80px;

  
  h1{
    text-align: center;
    padding-top: 20px;
  }
  #college{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    background-color: snow;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}
   
  #school{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    background-color: snow;
    width: 400px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;

} }

 #skills{
  background-color: rgb(224, 227, 186);
  height: 300px;
  width:90%;
  margin-top: 25px;
  margin-left: 80px;
  margin-right: 80px;

  
  h1{
    text-align: center;
    padding-top: 20px;
  }
  #dev{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    background-color: snow;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
  }
  #java{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    background-color: snow;
    width: 400px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
  }
  #nextjs{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    background-color: snow;
    width: 400px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
  }
  #uxui{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    background-color: snow;
    width: 400px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
  }

}
#projects{
  background-color: rgb(211, 188, 228);
  height: 300px;
  width:90%;
  margin-top: 25px;
  margin-left: 80px;
  margin-right: 80px;

  
  h1{
    text-align: center;
    padding-top: 20px;
  }
  #project1{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    background-color: snow;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
  #project2{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    background-color: snow;
    width: 400px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
  }
  #project3{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    background-color: snow;
    width: 400px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
  }

}
#contact {
  background-color: rgb(176, 226, 176);
  height: 245px;
  width: 90%;
  margin: 25px 80px 20px 80px;
  
}
 #contact h1{
    text-align: center;
    padding-top: 20px;
  }
 #contact #email{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    background-color: snow;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
  }
 #contact #phone{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    background-color: snow;
    width: 400px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
  }
 #contact #insta{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    background-color: snow;
    width: 400px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
  }

